svg > g.month > path {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  }

svg > g.month {
  opacity: 0.2
  }

ul#control > li {
}

svg > g.month:hover, svg> g.selected , ul#control> li:hover, ul#control> li.selected{
  opacity: 1
  }

svg  #mouth {
  fill: none;
  }

ul#control> li:hover, ul#control> li.selected{
  box-shadow: 0px 0px 7px #000;
}

svg > line.grid {
  stroke: #AAA;
  stroke-width: 1px;
  stroke-dasharray: 5,3;
  }

ul#control {
  list-style: none;
  width: 1400px;
  padding-left: 150px;
  }

ul#control > li {
  display: inline-block;
  width: 80px;
  padding: 2px;
  border-radius: 2px;
  float: left;
  text-align: center;
  margin: 5px; 
  color: #FFF;
  }

svg > text.xlabel, svg > text.ylabel {
  font-size: 15px;
  }
svg > text.xlabel {
  fill: #FFF;
  }
svg > text.ylabel {
  fill: #FFF;
  }

svg > rect.popup {
  fill: #FFF;
  }

body {
   background: #F9F4D2;
   font-family: helvetica,sans-serif;
   font-weight: lighter; 
}

div.tagline {
   display: inline-block;
   font-size: 110%;
}

div.tagline > span, div.explanation > span {
   background: #35C0CD;
}

div.heading {
margin-left: 20px;
}

img.logo {
  height: 110px;
  }

div.popup {
  background: #FFF;
  padding: 10px;
  border-radius: 5px;
  font-size: 75%;
  }

div.heading > div.title {
  width: 450px;
  float: left;
  }

div.heading > ul.menu {
  width: 200px;
  list-style: none;
  float: left;
  }

div.content { 
  clear: both;
  position: relative;
  top: 10px;
  }
div.footnote {
  margin-top: 30px;
  font-size: 70%;
  }

ul.menu > li {
  display: inline-block;
  width: 30px;
  }

#input > #graph {
  float: left;
  width: 200px;
  }

#input > #form {
  float: left;
  }

#input  textarea {
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  resize: none;
  }

svg > g.arrow > line {
  stroke: #000;
  stroke-width: 2px;
  }
