{% extends "base.html" %}

{% block title %}- how do you feel? {% endblock %}
{% block content %}
<div id="input">
<div id="graph">
</div>
<div id="form">
<textarea id="note" name="note" maxlength="250"></textarea>
<div id="submitbutton"><a href="#" onclick="sbmt()"><img src="img/submit.png"
title="submit"/></a></div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="vendor/js/d3.v3.min.js"></script>
<script src="js/input.js"></script>
<script>window.onload=draw();</script>
{% endblock %}
