{% extends "base.html" %}
{% block title %}Log and visualise how you feel{% endblock %}
{% block head %}
<meta name="description" content="Moodlog helps you log how you feel and
visualise your emotions" />
{% endblock %}
{% block content %}
<div class="explanation">
Did you ever want to look back and know how you were
<span>feeling</span>?</br>
Moodlog helps you <span>log</span> your mood and <span>visualise</span> your emotions over the last
year. Simply log in<sup>*</sup> and log away</br>
- Your Moodlog team
</div>
<div class="login">
<a href="{{loginlink}}">Login</a>
</div>
<div class="footnote">
* you can use your gmail account for logging in
</div>
{% endblock %}
